Interface_Client/flows.json
[{"id":"e1bc7a49.11a128","type":"tab","label":"Station Assemblage","disabled":false,"info":""},{"id":"4ca8b3e0.d720ac","type":"ui_dropdown","z":"e1bc7a49.11a128","name":"Produit","label":"","tooltip":"","place":"------","group":"6f379451.82f52c","order":1,"width":4,"height":1,"passthru":true,"options":[{"label":"Porte-Cartes d'affaire","value":1,"type":"num"},{"label":"Porte-Téléphone","value":2,"type":"num"}],"payload":"","topic":"","x":114.60002899169922,"y":120.20000267028809,"wires":[["2e49c5dd.d4111a","4203d22f.2f938c"]]},{"id":"d9f51920.e22398","type":"ui_dropdown","z":"e1bc7a49.11a128","name":"Base","label":"","tooltip":"","place":"------","group":"b4b5fccc.a6f8a","order":1,"width":4,"height":1,"passthru":true,"options":[{"label":"Un porte-crayon","value":1,"type":"num"},{"label":"Deux porte-crayon","value":2,"type":"num"}],"payload":"","topic":"","x":105.00003051757812,"y":168.00000286102295,"wires":[["1f867c08.420ef4"]]},{"id":"eb7358f4.e022d8","type":"ui_dropdown","z":"e1bc7a49.11a128","name":"Couleur","label":"","tooltip":"","place":"------","group":"c5b5bc51.a10b7","order":1,"width":4,"height":1,"passthru":true,"options":[{"label":"Blanc","value":1,"type":"num"},{"label":"Noir","value":2,"type":"num"}],"payload":"","topic":"","x":117.00003051757812,"y":221.00000286102295,"wires":[["1d604868.c7eed8"]]},{"id":"1c294244.8469ce","type":"ui_dropdown","z":"e1bc7a49.11a128","name":"Porte-crayon","label":"","tooltip":"","place":"------","group":"cb3cb374.ae5a","order":1,"width":4,"height":1,"passthru":true,"options":[{"label":"Type 1","value":1,"type":"num"},{"label":"Type 2","value":2,"type":"num"},{"label":"Type 3","value":3,"type":"num"}],"payload":"","topic":"","x":128.00003051757812,"y":274.0000047683716,"wires":[["da8d0fee.191cf"]]},{"id":"bdc04c95.769ac","type":"ui_dropdown","z":"e1bc7a49.11a128","name":"Supports","label":"","tooltip":"","place":"------","group":"38d05a6a.1b6b26","order":1,"width":4,"height":1,"passthru":true,"options":[{"label":"Aucun","value":1,"type":"num"},{"label":"Courts","value":2,"type":"num"},{"label":"Moyens","value":3,"type":"num"}],"payload":"","topic":"","x":114.00003433227539,"y":322.00001430511475,"wires":[["cb560400.b4c188"]]},{"id":"a7d07697.798a68","type":"ui_text_input","z":"e1bc7a49.11a128","name":"Quantité","label":"Quantité","tooltip":"","group":"d54118a.04c16e8","order":1,"width":2,"height":1,"passthru":true,"mode":"number","delay":"700","topic":"","x":113.60003280639648,"y":372.20000743865967,"wires":[["f52d385f.cb3c08"]]},{"id":"2e49c5dd.d4111a","type":"switch","z":"e1bc7a49.11a128","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":255.6000633239746,"y":92.40001010894775,"wires":[["bdc04c95.769ac"]]},{"id":"a0bfded7.83f42","type":"function","z":"e1bc7a49.11a128","name":"INSERT","func":"var produit=flow.get(\"produit\");\nvar base=flow.get(\"base\");\nvar couleur=flow.get(\"couleur\");\nvar crayon=flow.get(\"crayon\");\nvar support=flow.get(\"support\");\nvar quantite=flow.get(\"quantite\");\nvar NumSerie=flow.get(\"NumSerie\");\n\nNumSerie = NumSerie + 1;\n\nflow.set(\"NumSerie\",NumSerie);\n\nmsg.payload = [\n    {\n        measurement: \"Info_Produit\",\n        fields:{\n            produit: produit,\n            base: base,\n            couleur: couleur,\n            crayon: crayon,\n            supports: support,\n            quantite: quantite\n        },\n        tags:{\n            Numero_Serie: NumSerie\n        },\n        timestamp: new Date()\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":417.6000061035156,"y":422.00000762939453,"wires":[["b7f2ffd3.a3796","3928e566.10966a"]]},{"id":"3928e566.10966a","type":"influxdb batch","z":"e1bc7a49.11a128","influxdb":"c7fe678c.44de98","precision":"","retentionPolicy":"","name":"","x":716.6000137329102,"y":422.0000057220459,"wires":[]},{"id":"a90450d1.718c4","type":"ui_button","z":"e1bc7a49.11a128","name":"","group":"c96a51b8.ab0cc","order":1,"width":0,"height":0,"passthru":false,"label":"Envoi de la commande","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Valide","payloadType":"str","topic":"","x":150.60001373291016,"y":422.00000762939453,"wires":[["a0bfded7.83f42","9626713c.46482"]]},{"id":"b7f2ffd3.a3796","type":"debug","z":"e1bc7a49.11a128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":637.6001052856445,"y":465.4000072479248,"wires":[]},{"id":"4203d22f.2f938c","type":"function","z":"e1bc7a49.11a128","name":"Variable Storage","func":"\n\nflow.set(\"produit\",msg.payload);","outputs":1,"noerr":0,"x":442.00000762939453,"y":118.00000381469727,"wires":[[]]},{"id":"1f867c08.420ef4","type":"function","z":"e1bc7a49.11a128","name":"Variable Storage","func":"\n\nflow.set(\"base\",msg.payload);","outputs":1,"noerr":0,"x":439.00000762939453,"y":165.00000381469727,"wires":[[]]},{"id":"1d604868.c7eed8","type":"function","z":"e1bc7a49.11a128","name":"Variable Storage","func":"\n\nflow.set(\"couleur\",msg.payload);","outputs":1,"noerr":0,"x":434.00000762939453,"y":220.00000476837158,"wires":[[]]},{"id":"da8d0fee.191cf","type":"function","z":"e1bc7a49.11a128","name":"Variable Storage","func":"\n\nflow.set(\"crayon\",msg.payload);","outputs":1,"noerr":0,"x":431,"y":273.00000190734863,"wires":[[]]},{"id":"cb560400.b4c188","type":"function","z":"e1bc7a49.11a128","name":"Variable Storage","func":"\n\nflow.set(\"support\",msg.payload);","outputs":1,"noerr":0,"x":428,"y":322.00000190734863,"wires":[[]]},{"id":"f52d385f.cb3c08","type":"function","z":"e1bc7a49.11a128","name":"Variable Storage","func":"\n\nflow.set(\"quantite\",msg.payload);","outputs":1,"noerr":0,"x":424,"y":372.00000190734863,"wires":[[]]},{"id":"a116854d.022a38","type":"influxdb in","z":"e1bc7a49.11a128","influxdb":"c7fe678c.44de98","name":"","query":"select last(*) from Info_Produit","rawOutput":false,"precision":"","retentionPolicy":"","x":447.6000061035156,"y":522.6000576019287,"wires":[["82296649.773808"]]},{"id":"9626713c.46482","type":"delay","z":"e1bc7a49.11a128","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":113.60000610351562,"y":522.6000089645386,"wires":[["a116854d.022a38","4a252139.e51da"]]},{"id":"82296649.773808","type":"mqtt out","z":"e1bc7a49.11a128","name":"","topic":"/com/station_requete_message","qos":"","retain":"","broker":"63a39473.ca5c8c","x":852.6000595092773,"y":569.0000076293945,"wires":[]},{"id":"b350d29f.2767e","type":"inject","z":"e1bc7a49.11a128","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":121.60005950927734,"y":37.000003814697266,"wires":[["d48c0024.d2306"]]},{"id":"d48c0024.d2306","type":"function","z":"e1bc7a49.11a128","name":"Numéro de série des commandes","func":"\n\nflow.set(\"NumSerie\",0);","outputs":1,"noerr":0,"x":375.0000305175781,"y":37.000003814697266,"wires":[[]]},{"id":"4a252139.e51da","type":"function","z":"e1bc7a49.11a128","name":"Reset variables","func":"\nflow.set([\"produit\",\"base\",\"couleur\",\"crayon\",\"support\",\"quantite\"],[0,0,0,0,0,0]);","outputs":1,"noerr":0,"x":286.6000061035156,"y":560,"wires":[[]]},{"id":"6f379451.82f52c","type":"ui_group","z":"","name":"Produit","tab":"f8d90cfd.dc2c1","order":1,"disp":true,"width":4,"collapse":false},{"id":"b4b5fccc.a6f8a","type":"ui_group","z":"","name":"Base","tab":"f8d90cfd.dc2c1","order":2,"disp":true,"width":4,"collapse":false},{"id":"c5b5bc51.a10b7","type":"ui_group","z":"","name":"Couleur du produit","tab":"f8d90cfd.dc2c1","order":3,"disp":true,"width":4,"collapse":false},{"id":"cb3cb374.ae5a","type":"ui_group","z":"","name":"Porte-crayon","tab":"f8d90cfd.dc2c1","order":4,"disp":true,"width":4,"collapse":false},{"id":"38d05a6a.1b6b26","type":"ui_group","z":"","name":"Supports de la base","tab":"f8d90cfd.dc2c1","order":5,"disp":true,"width":4,"collapse":false},{"id":"d54118a.04c16e8","type":"ui_group","z":"","name":"Nombre d'exemplaire du produit","tab":"f8d90cfd.dc2c1","order":6,"disp":true,"width":6,"collapse":false},{"id":"c7fe678c.44de98","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Station_Assemblage","name":"","usetls":false,"tls":""},{"id":"c96a51b8.ab0cc","type":"ui_group","z":"","name":"Validation","tab":"f8d90cfd.dc2c1","order":7,"disp":true,"width":"6","collapse":false},{"id":"63a39473.ca5c8c","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f8d90cfd.dc2c1","type":"ui_tab","z":"","name":"Génération de la commande","icon":"dashboard","order":6,"disabled":false,"hidden":false}]